<div class="container-smallCard">
    <div class="container-imagemSmall">
        <div class="image">
            
            <img src="{{smallCardImg}}" >

        </div>
    </div>
    <div class="container-textosSmall">
        <h1>{{smallCardTittle}}</h1><!--exemplo de chamada que recebe da logica-->
        <p><!--chamada dele esta la na home como input para receber de forma dinamica de um lugar de fora-->          
            {{smallCardDescription}}
        </p>
        <a [routerLink]="['content', Id]">Ver noticia</a>
    </div>
</div>