<div class="container-smallCard">
    <div class="container-imagemSmall">
        <div class="image">
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJHye7yQAEP5kTRBVV0sEJkJH6UmW2BH7mmg&usqp=CAU" alt="">

        </div>
    </div>
    <div class="container-textosSmall">
        <h1>Titulo da Noticia</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta deserunt esse rerum beatae eius nobis iusto.
        </p>
    </div>
</div>