.container-menu ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container-menu ul li{
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    
}

.container-menu ul li a:hover{
    color: blueviolet;
}
